<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hiringo-Backend</h1>
    <dl>
        <dt>Mainpage Functions</dt>
        <dd><a href="{%url 'studentsignup' %}"> Student SignUP </a></dd>
        <dd><a href="{%url 'teachersignup' %}"> Teacher SignUP </a></dd>
    </dl>
</body>
</html>

